{% extends 'base.html.twig' %}

{% block body %}
    <h1>Relationshiprequests list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relationshipRequest in relationshipRequests %}
            <tr>
                <td><a href="{{ path('relationshiprequest_show', { 'id': relationshipRequest.id }) }}">{{ relationshipRequest.id }}</a></td>
                <td>{% if relationshipRequest.createdAt %}{{ relationshipRequest.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if relationshipRequest.updatedAt %}{{ relationshipRequest.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ relationshipRequest.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('relationshiprequest_show', { 'id': relationshipRequest.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('relationshiprequest_edit', { 'id': relationshipRequest.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('relationshiprequest_new') }}">Create a new relationshipRequest</a>
        </li>
    </ul>
{% endblock %}
