{% extends 'base.html.twig' %}

{% block body %}
    <h1>Relationshiprequest</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relationshipRequest.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if relationshipRequest.createdAt %}{{ relationshipRequest.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if relationshipRequest.updatedAt %}{{ relationshipRequest.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ relationshipRequest.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('relationshiprequest_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('relationshiprequest_edit', { 'id': relationshipRequest.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
