{% extends 'base.html.twig' %}

{% block body %}
    <h1>Relationships list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relationship in relationships %}
            <tr>
                <td><a href="{{ path('relationship_show', { 'id': relationship.id }) }}">{{ relationship.id }}</a></td>
                <td>{% if relationship.createdAt %}{{ relationship.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if relationship.updatedAt %}{{ relationship.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('relationship_show', { 'id': relationship.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('relationship_edit', { 'id': relationship.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('relationship_new') }}">Create a new relationship</a>
        </li>
    </ul>
{% endblock %}
