{% extends 'base.html.twig' %}

{% block body %}
    <h1>Relationship</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relationship.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if relationship.createdAt %}{{ relationship.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if relationship.updatedAt %}{{ relationship.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('relationship_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('relationship_edit', { 'id': relationship.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
