{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fromuser</th>
                <th>Touser</th>
                <th>Message</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chat in chats %}
            <tr>
                <td><a href="{{ path('chat_show', { 'id': chat.id }) }}">{{ chat.id }}</a></td>
                <td>{{ chat.fromUser }}</td>
                <td>{{ chat.toUser }}</td>
                <td>{{ chat.message }}</td>
                <td>{% if chat.time %}{{ chat.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chat_show', { 'id': chat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chat_edit', { 'id': chat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chat_new') }}">Create a new chat</a>
        </li>
    </ul>
{% endblock %}
