{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chat.id }}</td>
            </tr>
            <tr>
                <th>Fromuser</th>
                <td>{{ chat.fromUser }}</td>
            </tr>
            <tr>
                <th>Touser</th>
                <td>{{ chat.toUser }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ chat.message }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if chat.time %}{{ chat.time|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chat_edit', { 'id': chat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
